@import "../../responsive.scss";
@import "../../fonts.scss";

nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    padding: 5px 0px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;

    &:hover {
      scale: 1.05;
      border-bottom: 3px solid #01a9eb;
    }

    @include sm {
      display: none;
    }
  }

  .left {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 50px;

    .logo {
      font-weight: bold;
      font-size: 20px;
      display: flex;
      align-items: center;
      gap: 5px;

      img {
        width: 40px;
      }

      span {
        @include md {
          display: none;
        }
        @include sm {
          display: initial;
        }
      }
    }
  }

  .right {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // background-color: #0249ab;
    background-image: linear-gradient(to right, #3d559e, #01a9eb);
    height: 100%;

    @include md {
      background-image: none;
    }

    a {
      padding: 12px 24px;
      margin: 20px;
    }

    .register {
      background-color: #cefbff;

      @include md {
        background-color: #47afe2;
        color: #cefbff;
      }
    }

    .signin {
      border: 2px solid #cefbff;
      color: #cefbff;

      @include md {
        border: 2px solid #47afe2;
        color: black;
      }
    }

    .menuIcon {
      display: none;
      z-index: 999;

      img {
        width: 36px;
        height: 36px;
        cursor: pointer;
      }

      @include sm {
        display: inline;
      }
    }

    .menu {
      position: absolute;
      top: 0;
      right: -50%;
      background-image: linear-gradient(to right, #3d559e, #01a9eb);
      //background-color: black;
      color: white;
      height: 100vh;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      transition: all 0.7s ease-in-out;
      -webkit-transition: all 0.7s ease-in-out;
      -moz-transition: all 0.7s ease-in-out;
      -ms-transition: all 0.7s ease-in-out;
      -o-transition: all 0.7s ease-in-out;

      &.active {
        right: 0;
      }

      @include sm {
        a {
          display: initial;
        }
      }
    }
  }
}
