@font-face {
  font-family: "CP-Bold";
  src: url("./fonts/ChakraPetch-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "CP-Italic";
  src: url("./fonts/ChakraPetch-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "CP-Light";
  src: url("./fonts/ChakraPetch-Light.ttf") format("truetype");
}

@font-face {
  font-family: "CP-SB";
  src: url("./fonts/ChakraPetch-SemiBold.ttf") format("truetype");
}
